.mini-profile-container {
    display: flex;
    gap: 1rem;

    &.buttons {
        gap: 12px;
    }

    img, .no-pic {
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
    
    span {
        max-width: 305px;
        overflow: hidden;
    }
}
