.profile-page {
    display: flex;
    gap: 1rem;

    .general-info {
        background-color: #18181b;
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0.15);
        padding: 1rem;
        width: 100%;
        height: 350px;
        display: flex;
        gap: 2rem;
        
        .profile-image-container {
            height: 100%;
            width: 318px;
            
            :first-child {
                height: 100%;

                &.no-photo {
                    background-color: #000000;
                }
            }
        }
        
        .profile-info {
            height: 100%;
            width: calc(100% - 318px);
            
            :first-child {
                height: 100%;
            }
        }
    }

    .profile-container {
        display: grid;
        grid-template-columns: auto 1fr;

        .left {

        }

        .right {

        }
    }
}