.filter-container {
    .filter {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .form-field {
            width: 100%;
            align-items: center;

            input:not([type='checkbox']), select {
                width: 100%;
            }
        }
    }
}