.notifications-container {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 1000;
    margin-top: 4.7rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;

    .notification {
        min-height: 3.5rem;
        min-width: 18rem;
        border-width: 1px;
        background-color: #18181b;
        color: rgb(212 212 216);
        opacity: 0;
        transition: opacity 0.3s ease;
        overflow: hidden;
        cursor: pointer;

        @keyframes nudge-right {
            0% { transform: translateX(0); }
            20% { transform: translateX(5px); }
            40% { transform: translateX(0); }
            100% { transform: translateX(0); }
        }

        &.nudge:not(.dragging) {
            animation: nudge-right 1.3s ease;
        }
        
        &:active {
            cursor: grabbing;
        }
        
        &.opened {
            .content {
                -webkit-user-select: auto; /* Safari */
                -moz-user-select: auto; /* Firefox */
                -ms-user-select: auto; /* IE 10+ */
                user-select: auto; /* Standard */
            }
        }

        &.visible {
            opacity: 1;
        }

        .content {
            display: flex;
            padding: 0.5rem;
            flex-direction: row;
            align-items: center;
            gap: 0.6rem;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard */
            
            .notification-icon {
                width: 2.5rem;
                height: 2.5rem;
                padding: 4px;
                background-color: black;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .bar {
            height: 0.1rem;
            width: 100%;
            background-color: rgb(212 212 216);
            border-radius: 20px;
            transform-origin: left;
            animation: shrink linear forwards;
        }

        @keyframes shrink {
            from {
                transform: scaleX(1);
            }
            to {
                transform: scaleX(0);
            }
        }
    }
}